<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="MySQL" 
         providerName="System.Data.ProviderName" 
         connectionString="server=localhost;database=test;user=root;"/>
    <add name="Url"
        providerName="System.Data.ProviderName"
        connectionString="https://www.gismeteo.ru/"/>
  </connectionStrings>
</configuration>
